<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org"
	  lang="en">
<!-- Platzhalter Head -->
<div th:replace="layouts/mainLayout :: head"></div>
<body>
	<!-- Content -->
	<div class="container bg-secondary" id="bigOne">
		<div class="row bg-secondary" id="header">
			<br> <br>
			<h1 class="display-4 mt-3 mb-3">
				<strong> Willkommen in Lios Moralmenü</strong>
			</h1>
		</div>
		<div class="bg-info col">
			<div class="container bg-info" id="mainbox">
				<div class="row ms-2 me-2 bg-info border-bottom border-secondary">
					<div class="mb-1">
						<img alt="Lio" th:src="@{/Lio2.png}"  height="184" width="287" />
					</div>
				</div>
				<div class="bg-info row mt-5 pb-5">
					<div class="bg-info col text-center" id="newPerson">
						<label class="display-6">Neue Person erstellen</label><br> <br>
						<a href="#" th:href="@{/infoUserView}" type="button"
							class="btn btn-light">Person erstellen</a>
					</div>
					<div class="bg-info col text-center" id="loadPerson">
						<label class="display-6">Personendaten laden </label> <br>
						<form>
							<br> <select class="form-select mx-auto" style="width: 50%;"
								name="selectPers" id="selectPers">
								<option value="Max Mustermann">Max Mustermann</option>
								<option value="Dora Diamant">Dora Diamant</option>
								<option value="Heinrich Herbst">Heinrich Herbst</option>
							</select> <br>
							<button type="submit" class="btn btn-light">Person
								bearbeiten</button>
						</form>
						<br>
					</div>
				</div>
			</div>
		</div>
		<p>Moralmenu by FHNW</p>
	</div>
</body>
</html>

