<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dashboard User</title>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
</head>
<body>
	<!-- CDN -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://www.w3schools.com/js/myScript.js"></script>
	<!-- CDN -->

	<!-- Content -->
	<div class="container bg-secondary" id="bigOne">
		<div class="row bg-secondary" id="header">
			<br> <br>
			<h1 class="display-4 mt-3 mb-3">
				<strong> Willkommen in Lios Moralmenü</strong>
			</h1>
		</div>
		<div class="bg-info col">
			<div class="container bg-info" id="mainbox">
				<div class="row bg-info">
					<div class="mb-1">
						<img alt="Lio" src="Lio1.png" height="184" width="287" />
					</div>
				</div>
				<div class="bg-info row ms-2 me-2">
					<ul class="nav nav-tabs border-bottom border-secondary">
						<li class="nav-item"><a class="nav-link active fs-5"
							aria-current="page" href="#" th:href="@{/infoUserView}">Angaben
								zur Person</a></li>
						<li class="nav-item"><a class="nav-link fs-5" href="#"
							th:href="@{/socialUserView}">Soziale Aspekte</a></li>
						<li class="nav-item"><a class="nav-link fs-5" href="#"
							th:href="@{/transparencyUserView}">Transparenz</a></li>
						<li class="nav-item"><a class="nav-link fs-5" href="#"
							th:href="@{/functionalityUserView}">Funktionalität</a></li>
					</ul>
				</div>
				<div class="container mt-4">
					<form>
						<div class="row">
							<div class="col-5">
								<div class="row">
									<div class="col-4">
										<label class="fs-5 col-form-label">Name: </label>
									</div>
									<div class="col">
										<input style="width: 75%;" type="text" class="form-control">
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<label class="fs-5 col-form-label">Geburtstag: </label>
									</div>
									<div class="col">
										<input style="width: 75%;" type="date" class="form-control">
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<label class="fs-5 col-form-label">Geschlecht: </label>
									</div>
									<div class="col">
										<select class="form-select" style="width: 75%;"
											name="selectGender" id="selectGender">
											<option value="Male">Männlich</option>
											<option value="Female">Weiblich</option>
											<option value="Non-binary">Non Binär</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<label class="fs-5 col-form-label">Religion: </label>
									</div>
									<div class="col">
										<select class="form-select" style="width: 75%;"
											name="selectReligion" id="selectReligion">
											<option value="christianity">Christlich</option>
											<option value="catholic">Katholisch</option>
											<option value="protestant">Protestantisch</option>
											<option value="muslim">Muslimisch</option>
											<option value="jews">Jüdisch</option>
											<option value="atheist">Atheist</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<label class="fs-5 col-form-label">Hobbys: </label>
									</div>
									<div class="col">
										<input type="text" style="width: 75%;" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-5">
								<div class="row">
									<div class="col-4">
										<label class="fs-5 col-form-label">Spitzname: </label>
									</div>
									<div class="col">
										<input style="width: 75%;" type="text" class="form-control">
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<label class="fs-5 col-form-label">Nationalität: </label>
									</div>
									<div class="col">
										<input style="width: 75%;" type="text" class="form-control">
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<label class="fs-5 col-form-label">Sexualität: </label>
									</div>
									<div class="col">
										<select class="form-select" style="width: 75%;"
											name="selectSexuality" id="selectSexuality">
											<option value="straight">Heterosexuell</option>
											<option value="gay">Homosexuell</option>
											<option value="other">Anderes</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<label class="fs-5 col-form-label">Letzter Beruf: </label>
									</div>
									<div class="col">
										<input style="width: 75%;" type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-2">
								<div class="row">
									<div>
										<img alt="Lio" src="face.png" height="100" width="100"
											class="mx-auto d-block" />
									</div>
									<button class="btn btn-light mt-2">Foto aufnehmen</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class=row>
					<div class="col-3 mb-3 mt-3">
						<a href="#" th:href="@{/homeUserView}" type="button"
							class="btn 
					btn-light me-4">Zurück zu Home</a> <a href="#"
							th:href="@{/socialUserView}" type="button"
							class="btn
					btn-light">Weiter</a>
					</div>
				</div>
			</div>
		</div>
		<p>Moralmenu by FHNW</p>
	</div>
</body>
</html>

