<!DOCTYPE html>
<html>
<!-- Platzhalter Head -->
<div th:replace="layouts/mainLayout :: head"></div>
<body>

<!-- Content -->
<div class="container bg-secondary" id="bigOne">
    <div class="row bg-secondary" id="header">
        <br> <br>
        <h1 class="display-4 mt-3 mb-3">
            <strong> Willkommen in Lios Moralmenü</strong>
        </h1>
    </div>
    <div class="bg-info col">
        <div class="container bg-info" id="mainbox">
            <div class="row bg-info">
                <div class="mb-1">
                    <img alt="Lio" src="Lio1.png" height="184" width="287"/>
                </div>
            </div>
            <!-- Navbar -->
            <div class="bg-info row ms-2 me-2">
                <ul class="nav nav-tabs border-bottom border-secondary">
                    <li class="nav-item"><a class="nav-link active fs-5"
                                            aria-current="page"  id="onlyInfoViewBtn">Angaben
                        zur Person</a></li>
                    <li class="nav-item"><a class="nav-link fs-5"
                                            id="onlySocialViewBtn">Soziale Aspekte</a></li>
                    <li class="nav-item"><a class="nav-link fs-5"
                                            id="onlyTransparencyViewBtn">Transparenz</a></li>
                    <li class="nav-item"><a class="nav-link fs-5"
                                            id="onlyFunctionalityViewBtn">Funktionalität</a></li>
                </ul>
            </div>
            <!-- Platzhalter InfoView -->
            <div th:replace="tabs/formPerson :: infoView"></div>
            <!-- Platzhalter InfoView -->
            <div th:replace="tabs/formSocial :: socialView"></div>
            <!-- Platzhalter TransparencyView -->
            <div th:replace="tabs/formTransparency :: transparencyView"></div>
            <!-- Platzhalter FunctionalityView -->
            <div th:replace="tabs/formFunctionality :: functionalityView"></div>
        </div>
    </div>
    <p>Moralmenu by FHNW</p>
</div>
<script async src="/javaScript/infoUserViewScripts.js"></script>
</body>
</html>

